<!DOCTYPE html>
<html>
  <head>
    <title><%= ENV["APP_NAME"] %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/dashboard/header' %>
    <div class="row">
      <div class="col-3 mt-3">
        <%= render partial: 'layouts/dashboard/sidebar' %>
      </div>
      <div class="col">
        <main class="py-4 mb-5">
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>