<div class="row">
  <div class="col-2">
    <%= render partial: 'layouts/sidebar' %>
  </div>
  <div class="col-9">
    <div class="container">
      <%= link_to "店舗一覧", "/restaurants", class:"links text-decoration-none" %> >
      <% keys = nil %>
      <% params['category_ids'].to_s.split(',').each do |category_id| %>
        <%= I18n.t("enums.restaurant.category_id.#{category_id}") %>
        <% keys = category_id %>
      <% end %>
      <h1>
        <% if keys.present? %>
          <%= I18n.t("enums.restaurant.category_id.#{keys}") %>の
        <% end %>
        店舗一覧<%= @restaurants.total_count %>件
      </h1>
    </div>

    <table class="table align-middle">
      <tr>
        <th></th>
        <th>店舗名</th>
        <th class="text-center">カテゴリ</th>
        <th class="text-center">詳細</th>
      </tr>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td>
            <% if restaurant.image.attached? %>
              <div><%= image_tag(restaurant.thumbnail) %></div>
            <% end %>
          </td>
          <td><%= restaurant.name %></td>
          <td class="text-center"><%= restaurant.category_id_i18n %></td>
          <td class="text-center">
            <%= link_to restaurant_path(restaurant), class:"links" do %>
              <i class="fa-solid fa-chevron-right"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= paginate @restaurants %>
  </div>
</div>
