<header>
  <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm nagoyameshi-header-container">
    <%= link_to root_path do %>
      <%= ENV["APP_NAME"] %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mr-5 mt-2">
      <% if user_signed_in? %>
      <!-- ログイン後 -->
        <li class="nav-item mr-5">
          <%= link_to mypage_users_path, class: "nav-link" do %>
            <i class="fas fa-user mr-1"></i><label>マイページ</label>
          <% end %>
        </li>
        <!--
        <li class="nav-item mr-5">
          <%= link_to mypage_favorite_users_path, class: "nav-link" do %>
            <i class="far fa-heart"></i>
          <% end %>
        </li>
        <li class="nav-item mr-5">
          <%= link_to cart_users_path, class: "nav-link" do %>
            <i class="fas fa-shopping-cart"></i>
          <% end %>
        </li>
        -->
      <% else %>
      <!-- ログイン前 -->
        <li class="nav-item mr-5">
          <%= link_to new_user_registration_path, class: "nav-link" do %>
            <label>新規登録</label>
          <% end %>
        </li>
        <li class="nav-item mr-5">
          <%= link_to login_path, class: "nav-link" do %>
            <label>ログイン</label>
          <% end %>
        </li>
        <hr>
      <% end %>
    </div>
  </nav>
</header>